body{
    background-color: aquamarine;
}

.main-content {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.block-container {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    width: 50%;
    border-radius: 10px;
}

button{
    width: 20%;
    height: 50px;
    background-color: #F4D35E;
    color: white;
    border-radius: 10px;
    box-shadow: 1px 3px #50514F;
    outline: none;
}